# Node.js
node_modules/
dist/
dist-tauri/
.env

# Rust
src-tauri/target/
src-tauri/Cargo.lock
src-tauri/gen/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
.DS_Store

# Temporary directory
tmp/
data/
settings/
logs/
*.log
notes-import-examples/
notes-export-examples/
docs/
dev/
