@use "./base/reset";
@use "./base/typography";
@use "./layout/app";
@use "./components/sidebar";
@use "./components/notes-list";
@use "./components/editor";
@use "./components/dialogs";
@use "./components/context-menu";
@use "./utilities/scrollbar";

.is-hidden {
  display: none;
}
